pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
matplotlib==3.8.4
seaborn==0.13.2
jupyter==1.0.0
xgboost==2.0.3
imbalanced-learn==0.12.3
black==24.8.0
isort==5.13.2
flake8==7.1.1
pre-commit==3.7.1
joblib==1.4.2
